/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	padding-top: 59px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2 ,.login{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.galery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.galery img {
	width: 100%;
	height: 100%;

}
#contact  {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.categories {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.bouton_filtre {
	width: auto;
	height: 37px;
	font-size: 19px;
	border-radius: 60px;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: white;
	cursor: pointer;
	margin-right: 15px;
	padding: 0 20px;
}

.filtre_actif {
    background-color: #1D6154; 
    color: white;
}

li{
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.projet{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	margin-bottom: 50px;
}

.btn-modif {
	display: flex;
	align-content: center;
	background-color: white;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.fa-regular {
	margin: 0 10px 0 20px;
	font-size: 15px;
}

.edition_mode {
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 59px;
	background-color: black;
	color: white;
	box-sizing: border-box;
}

/* Modal (boîte de dialogue) */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste à l'écran même en scrollant */
    z-index: 1; /* Au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

/* Contenu de la modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 630px;
	height: 688px;
	border-radius: 10px;
}

/* Bouton de fermeture */
.close,.close2 {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
	position: absolute;
	top: 30px;
	right: 30px;
}

.close:hover,.close:focus,
.close2:hover,.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.galerie-photo {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 60px;
}

.addImageButton {
    display: block;
	width: 237px;
	height: 36px;
	flex-shrink: 0;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #1D6154;
    color: white;
    border: none;
	border-radius: 60px;
    cursor: pointer;
}

.modal-galery {
	display: grid;
    grid-template-columns: repeat(5, 0.1fr);
	justify-content: center;
    gap: 10px;
	margin-top: 60px;
	margin-bottom: 35px;
}
.thumbnail {
    width: 78.123px;
    height: 104.08px;
	padding-bottom: 20px;
}

/* Style pour la modal-content */
.modal-content {
    position: relative;
    width: 630px;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fefefe;
}

.cadre-ajout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 169px;
	flex-shrink: 0;
	border-radius: 3px;
	background: #E8F1F6;	
}

.bord1 {
	border-top: solid 1px #B3B3B3;
	margin: 50px auto 30px auto;
	width: 420px;
}

.btnValider {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	margin: auto;
	font-weight: 700;
	color: white;
	padding: 0px 20px;
	height: 36px;
	min-width: 237px;
	width: auto;
	border-radius: 60px ;
	border: none;
	background-color: #a7a7a7;
	cursor: pointer;
}

.modal-content h2 {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.back-to-main-modal {
	display: none;
	font-size: 24px;
    color: black;
    cursor: pointer;
}

.arrow-xmark {
	display: flex;
	justify-content: space-between;
}

.cadre-ajout-photo {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6 ;
	color: #b9c5cc;
	width: 425px;
	height: 185px;
	margin-left: auto;
   	margin-right: auto;
}

.fa-image {
	width: 76px;
	height: 76px;
	font-size: 76px;
	flex-shrink: 0;
	color: #B9C5CC;
	margin: 20px 0 10px 0;
	margin-bottom: 5px;
}

.cadre-ajout-photo button {
	font-weight: 500;
	font-size: 14;
	color: #306685;
	margin : 10px ;
	padding: 0px 20px;
	height: 36px;
	min-width: 237px;
	width: auto;
	text-align: center;
	border-radius: 60px ;
	border: none;
	background-color: #cbd6dc;
	cursor: pointer;
}

.cadre-ajout-photo i {
	font-size: 76px;
}

.cadre-ajout-photo p{
	font-size: 10px;
	color: #444444;
}

#addPhotoForm label {
	display: flex;
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 20px 0 10px 105px;
}

#addPhotoForm input {
	display: flex;
	margin-left: auto;
   	margin-right: auto;
	align-items: center;
	width: 405px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	padding: 0;
	padding-left: 15px;
	font-size: 14px;
}

#category-select {
	display: flex;
	margin-left: auto;
   	margin-right: auto;
	align-items: center;
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	padding: 0;
	padding-left: 15px;
	font-size: 14px;
}

.preview-image {
    width: 130px;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.form-champ {
	display: none;
}

.thumbnail-container {
    position: relative;
    display: inline-block;
}

.trash-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 2px;
}

/* Styles pour le message de validation */
#validationMessage {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 30px; /* Espace entre le titre et le message */
}